.order {
    &.col-4 {
        padding: 0 0 0 24px;
    }

    &__add {
        border: 1px solid rgb(108, 108, 108);
        border-radius: 4px;
    }

    &__price {
        background-color: #dadada;
        border-radius: 4px;
        border-bottom: 1px solid rgb(108, 108, 108);
        display: flex;
        padding: 6px;
        align-items: center;

        & span {
            margin-right: 6px;
            font-size: 20px;
            text-decoration: line-through;
        }

        & h5 {
            margin: 0;
            font-size: 28px;
        }
    }

    &__handle {
        margin: 32px;
    }

    &__quantity {
        background-color: #dadada;
        display: flex;
        border-radius: 4px;
        justify-content: space-between;
        font-size: 24px;
        margin: 8px 0;
    }

    &__increase,
    &__decrease {
        border: none;
        border-radius: 4px;
        background-color: rgb(199, 199, 199);
        min-width: 40px;
    }

    &__buy {
        margin-top: 36px;
        font-size: 22px;
        font-weight: 400;
        border: none;
        background-color: #dadada;
        border-radius: 4px;
        width: 100%;
    }

    &__buy:hover {
        background-color: #6c757d;
        color: #fff;
    }
}