.product {

    &__title {
        border-bottom: 1px solid rgb(108, 108, 108);
        padding-bottom: 24px;
        margin: 0 -12px 16px -12px;
    }

    &__review {
        margin-top: 24px;
        margin-bottom: 150px;
    }
}

