.about {

    margin-bottom: 150px;
    
    & .container {
        margin: 0 auto;
    }

    &__title {
        border-bottom: 1px solid #333;
        padding-bottom: 12px;
    }

    &__content.container {
        max-width: 900px;
        margin-top: 60px;
    }

    &__description {
        &-title {
            display: flex;
            justify-content: center;
            margin: 24px 0 36px 0;
        }

        margin-bottom: 40px;
    }

    &__history {
        & h5 {
            margin-bottom: 12px;
        }

        & span {
            display: flex;
            margin-bottom: 12px;
        }
    }
}