.toast {
    &__message-success {
        display: flex;
        background-color: #d7e8d9;
        height: 60px;
        width: 100%;
        margin-top: 12px;
        border-left: 5px solid #3fc876;
        border-radius: 4px;
    }

    &__icon {

        margin: auto 16px;
        & img {
            width: 32px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-title {
            margin: 0;
            font-weight: 500;
        }

        &-message {
            margin: 0;
        }
    }
}