.footer {
    display: flex;
    background-color: #dddddd;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 100px;
    padding: 12px;

    &__image img {
        width: 64px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        padding-left: 12px;

        & h6 {
            margin: 0;
        }
    }
}