.cart {

    margin-bottom: 150px;

    &__list {
        font-weight: 500;
        border-left: 1px solid #333;
        border-right: 1px solid #333;
    }

    &__title {
        border-bottom: 1px solid #333;
        padding-bottom: 24px;
    }

    & .container {
        margin: 24px 0 0 0;
    }

    &__book {
        border-top: 1px solid #333;
        border-radius: 4px;
    }

    &__list,
    &__payment-title {
        border-bottom: 1px solid #333;
        border-radius: 4px;
        padding: 8px 0;
        text-align: center;
    }
}